:root {
    --ms_header-color: #2c3e50;
    --ms_blue-color: #051e34;

}


/* REGOLE DI DEBUG */

.box {
    height: 90px;
    border: 3px red dashed;
}

.box2 {
    height: 20px;
    border: 3px rgb(2, 0, 0) solid;
    margin: 20px;
}

.ms_border {
    border: 3px red dashed;
}



/* UTILITY */



/* REGOLE CSS */

header {
    height: 70px;
}

main {
    height: calc(100vh - 70px);
    overflow: hidden;
    background-color: aquamarine;

}

.ms_tool {
    height: 70px;
    display: inline-block;
    color: #5b5858;
    vertical-align: middle;
    line-height: 70px;
}

.ms_tool i {
    padding: 0 5px;

}

.ms_notify {
    height: 70px;
    display: inline-block;
    color: white;
    vertical-align: middle;
    line-height: 70px;
    padding: 0 5px;
}

.ms_notify a {
    color: orange;
}


#sidebar {
    height: calc(100vh - 70px);
    width: 50px;
    background-color: var(--ms_blue-color);
    color: #ffffff;
    text-align: center;
    padding: 10px;


}

#sidebar i {
    font-size: 25px;
    padding: 20px 0;
}

#sidebar a {
    text-decoration: none;
    color: #ffffff;
    line-height: 25px;
    padding: 20px;
}

.sidebar-top {
    height: calc(100% - 40px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar-bottom {
    height: 40px;
    display: flex;
    justify-content: center;
}

.side-flex {
    display: flex;
    align-items: center;
}

.ms_logo_small {
    max-width: 50px;
}

.ms_logo_big {
    min-width: 180px;
}

#content {
    width: calc(100% - 50px);
    overflow-y: auto;
    background-color: #98b0dd;
}

#content .top-bar {
    /* height: 100px; */
    background-color: #1b72e8;
}

.icon-content-gray {
    border-radius: 20%;
    border: #6c757d solid 2px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.icon-content-gray i {
    color: #6c757d;
}

.ms_img-code {
    height: 25px;
    display: inline-block;
}




.btn.btn-primary.btn-sm {
    border-radius: 20px;
    margin-right: 10px;
    padding: 1px 5px;
    background-color: #165bba;
}


.ms_third a {
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
}









/* MEDIA */

@media screen and (max-width: 990px) {

    .col-auto {
        padding: 0;
    }

}



/* @media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}
 */



 
@media screen and (min-width: 992px) {



    #sidebar {
        width: 200px;
    }

    #sidebar a {
        display: block;
    }

    #content {
        width: calc(100% - 200px);
    }


}